body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  font-family: "monaco";

  background: url(Runningpeople.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.words {
  display: flex;
  height: 300px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: "monaco", "garamond";
}

/* .top-left {
  position: absolute;
  top: 8px;
  right: 16px;
  color: black;
  font-family: "monaco";
} */

.fcheader {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: stretch;
  background: center / cover no-repeat;
}

.fcslogan {
    flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.button2 {
  color: white;
  background: #5a65ef;
}

#slogan {
  display: flex;
  height: 300px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "monaco", "garamond";
}

.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
}

.fcbuttons {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}

.button {
  background: #8abd91;
  color: white;
  font-family: "monaco", "garamond";
  font-size: 25px;
  font-weight: 400;
  align-content: stretch;
  height: 75px;
  width: 500px;
  float: center;
  border: 0.5px;
  transition-duration: 0.7s;
    background-color: rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: #b4cbb7;
  font-family: "monaco", "garamond";
  font-size: 27.5px;
  font-weight: 500;
  height: 90px;
  width: 550px;
  float: left;
  border: 0.5px;
}

.fcfooter {
  display: flex;
  height: 300px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10px;
  color: white;
  font-family: "monaco", "garamond";
}
