body {
  width: 100vw;
  height: 100vh;
  background: #8ABD91;
}

/* .fcpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
} */

.fcheader {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: stretch;
  background: center / cover no-repeat;
}
.fcslogan {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}
.button2 {
  color: white;
  background: #5A65EF;
}
#statement {
  display: flex;
  font-size: 15px;
  font-family: "monaco";
  color: #fff;
  font-weight: 100;
  padding: 5px;
  text-align: center;
  justify-content: center;
  height: 50vh;
}
#title {
  font-size: 20px;
  font-family: "monaco";
  color: #fff;
  font-weight: 100;
  padding: 5px;
  text-align: center;
}
.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);
}
.fcbuttons {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
}
.button {
  background: #8abd91;
  color: white;
  font-family: "monaco", "garamond";
  font-size: 25px;
  font-weight: 400;
  align-content: stretch;
  height: 75px;
  width: 500px;
  float: center;
  border: 0.5px;
  transition-duration: 0.7s;
}

.button:hover {
  background: #b4cbb7;
  font-family: "monaco", "garamond";
  font-size: 27.5px;
  font-weight: 500;
  height: 90px;
  width: 550px;
  float: left;
  border: 0.5px;
}
.fcfooter {
  display: flex;
  /* height: 300px; */
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10px;
  color: white;
  font-family: "monaco", "garamond";
}
h2 {
  margin-bottom: 25px;
}
.img-wrap {
  padding-left: 50px;
  width: 100%;
  margin-left: -45px;
  text-align: center;
  display: block;
}
.img-wrap img {
  width: 27%;
  padding: 10px;
  border-radius: 70%;
  box-shadow: 0 0 100px #B4CBB7;
}

.picture {
  text-align: center;
  position: relative;
  color: white;
  width : 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  font-family: "monaco";
  transform: translate(-50%, -50%);
}

#prevention {

  font-size: 18px;
  font-family: "monaco";
  color: #FFF;
  font-weight: 100;
  padding: 2px;
  height: 20vh;
  text-align: center;

}

#hicontainer {
    text-align: center;
    padding: 10px;
}

#hi, #hicontainer {

  font-size: 20px;
  font-family: "monaco";
  background-color: #8ABD91;
  color: #1D812B;
  font-weight: 200;
  padding: 2px;
  text-align: center;

}

.fcfooter {
  display: flex;
  /* height: 300px; */
  height: 10vh;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 10px;
  color: white;
  font-family: "monaco", "garamond";
}
